body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.logo {
    margin: 50px 0;
}
.logo_image img {
    width: 100px;
    height: 100px;
}
.logo_name {
    font-family: "Montaga", serif;
    font-size: 64px;
    color: #000;
    font-weight: 400;
}
.title {
    font-size: 40px;
}
.login_input {
    font-size: 24px;
}
.redirect_button {
    background-color: #B6DCFF;
    font-size: 32px;
    border-radius: 20px;
}